<main class="layout">

  <!-- COLUMNA IZQUIERDA -->
  <section class="col">

    <!-- RECOMPENSAS -->
    <article class="card">
      <h2>Recompensas hoy</h2>

      <div class="grid-3">
        <div class="day" *ngFor="let r of recompensas">
          <p>{{ r.dia }}</p>
          <div class="gift"></div>
        </div>
      </div>

      <button class="btn primary full btn-recompensa">Recoger recompensa de hoy</button>
    </article>

    <!-- TU COLECCIÓN -->
    <article class="card">
      <h2>Tu colección</h2>

      <div class="grid-3">
        <div class="box">
          <img src="assets/icons/totales.png" class="icon">
          <b>{{ coleccion.total }}</b>
          <span>xuxemons totales</span>
        </div>

        <div class="box">
          <img src="assets/icons/enfermos.png" class="icon">
          <b>{{ coleccion.enfermos }}</b>
          <span>xuxemons enfermos</span>
        </div>

        <div class="box">
          <img src="assets/icons/evolucion.png" class="icon">
          <b>{{ coleccion.evoluciones }}</b>
          <span>evolución</span>
        </div>
      </div>
    </article>

    <!-- ACTIVIDAD -->
    <article class="card">
      <h2>Actividad</h2>

      <h3>Solicitudes de amistad</h3>
      <div class="row" *ngFor="let s of solicitudesAmistad">
        <span>{{ s.nombre }}</span>
        <div>
          <button class="btn success small">Aceptar</button>
          <button class="btn danger small">Rechazar</button>
        </div>
      </div>

      <h3>Peticiones de batalla</h3>
      <div class="row" *ngFor="let s of solicitudesBatalla">
        <span>{{ s.nombre }}</span>
        <div>
          <button class="btn success small">Aceptar</button>
          <button class="btn danger small">Rechazar</button>
        </div>
      </div>
    </article>

  </section>

  <!-- COLUMNA DERECHA -->
  <section class="col">

    <!-- ESTADÍSTICAS -->
    <article class="card">
      <h2>Estadísticas de Hoy</h2>

      <div class="grid-3">
        <div class="box">
          <span>Batallas ganadas</span>
          <b>{{ estadisticas.ganadas }}</b>
        </div>

        <div class="box">
          <span>Batallas jugadas</span>
          <b>{{ estadisticas.jugadas }}</b>
        </div>

        <div class="box">
          <span>Mejor racha</span>
          <b>{{ estadisticas.racha }}</b>
        </div>
      </div>
    </article>

    <!-- XUXEMON LISTO PARA LA BATALLA -->
    <!-- TARJETA DEL XUXEMON -->
  <article class="card">
  <h2>Xuxemon listo para la batalla!</h2>

  <div class="battle">
    <div class="avatar">{{ xuxemon.nombre }}</div>
  </div>

  <!-- ESTE BLOQUE VA DENTRO DEL RECUADRO, JUSTO DEBAJO DEL AVATAR -->
  <div class="battle-text">
    <h3>{{ xuxemon.nombre }}</h3>
    <p>¿Iniciar una batalla rápida?</p>
    <button class="btn primary btn-luchar">Luchar</button>
  </div>

  </article>


  </section>

</main>
