.recuperar-wrapper {
  background: url('/registrologin.png');
  background-size: cover; /*Es para que se alargue la imagen */
  background-position: center;
  min-height: 100vh;
}

.logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: block;
  margin: 0 auto 16px auto;
}
